    .searchField {
        display: inline-block;
        width: 98%;
        height: 38px;
        margin: 10px;
        border: 1px solid grey;
        font-size: 20px;
        outline: grey;
        padding: 5px;
        padding-right: 50px;
        cursor: pointer;
        color: grey;
        box-sizing:border-box;
    }
.searchInput {
    position: relative;
}
.searchInput .glyphicon {
    position: absolute;
    z-index: 2;
    right: 25px;
    font-size: 24px;
    width: 24px;
    color: #4b4b4b;
    text-align: center;
    padding: 6px 0;
    top: 11px;
    cursor: pointer;
    background-image: url("/img/glyphicons-28-search.png");
}

