// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input {
    margin-top : 30px;
}


.input-groups{
    margin-top : 100px;
}

.posting {
    height : 50vh;
    overflow-x : auto;
    word-break:normal;
    overflow: auto;
    word-wrap: break-word;
    resize: none;
}
a
.align-right{
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
}

#input-author{
    margin-left : 5px;
}