.input {
    margin-top : 30px;
}

#input-booktitle{
    width : 250px;
}

.input-groups{
    margin-top : 50px;
}

textarea.posting{
    height : 50vh;
    overflow-x : auto;
    word-break:normal;
    overflow: auto;
    word-wrap: break-word;
    resize: none;
}

.align-right{
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
}

#input-author{
    margin-left : 5px;
}